<div class="window__edit-profile">
    <p class="window__title">Изменить данные профиля</p>
    <form class="window__form">
        <div class="window__inputs">
            {{{ FirstNameInput }}}
            {{{ SecondNameInput }}}
            {{{ DisolayNameInput }}}
            {{{ LoginInput }}}
            {{{ EmailInput }}}
            {{{ PhoneInput }}}
        </div>
        <div class="window__inputs">
            {{{ ButtonAccept }}}
            <p class="window__button-cancel">Отмена</p>
        </div>
    </form>
</div>
