<main class="register">
    <div class="register__panel">
        <h1 class="register__title">Регистрация</h1>
        <form class="register__form">
            <div class="register__inputs">
                {{{ FirstNameInput }}}
                {{{ SecondNameInput }}}
                {{{ LoginInput }}}
                {{{ EmailInput }}}
                {{{ PhoneInput }}}
                {{{ PasswordOneInput }}}
                {{{ PasswordTwoInput }}}
            </div>
            <div class="register__inputs">
                {{{ ButtonRegister }}}
                <p class="register__auth" href="#">Войти</p>
            </div>
        </form>
    </div>
</main>
