<main class="home">
    <aside class="home__dialogs">
        <header class="home__title">
            <div class="home__title-top">
                {{{ButtonCreateChat}}}
                <h1 class="home__title-name">SMARTgram</h1>
                {{{ButtonSettings}}}
            </div>
            <div class="home__title-bottom">
                <label for="search-input">
                    <img src="{{search}}" alt="Поиск" class="svg__search">
                </label>
                <input type="text" id="search-input" class="home__search" placeholder="Поиск">
            </div>
        </header>
        {{{ DialogList }}}
    </aside>
    <section class="home__chat">
        {{#if isSelected}}
            <div class="home__chat-messages">
                {{{ChatList}}}
            </div>
        {{else}}
            <div class="home__chat-no-messages">
                <div class="home__select-chat">Выберите диалог для сообщения</div>
            </div>
        {{/if}}

        {{{ FormMessage }}}
    </section>
    <div class="home__windows_disabled window__create-chat">
        {{{ CreateChatWindow }}}
    </div>
    <div class="home__windows_disabled window__delete-chat">
        {{{ DeleteChatWindow }}}
    </div>
</main>
