<div class="dialog">
    <div class="dialog__img">
        <img src="{{avatar}}" width="1080" height="1080" alt="Аватар пользователя" class="dialog__avatar">
    </div>
    <div class="dialog__content">
        <div class="dialog__name">
            <p>{{title}}</p>
        </div>
        <div class="dialog__message">
            <p>{{lastMessage}}</p>
        </div>
    </div>
    <div class="dialog__info">
        <p>{{lastUpdate}}</p>
        <div class="dialog__counter">
            {{#if unreadCount}}
                <div class="dialog__cycle">{{unreadCount}}</div>
            {{/if}}
        </div>
    </div>
</div>
